.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  font-size: 1.4rem;
  padding: 3rem;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &__shape{
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1rem) skewX(12deg);
    position: relative;
  }

  &__img{
    height: 100%;
    transform: scale(1.4);
    backface-visibility: hidden;
  }

  &__text{
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all .3s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -20%)
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}